extends layout

block content
  br
  form(method="post" action=`/schedules/${schedule.scheduleId}?edit=1`)
    input(type="hidden" name="_csrf" value!=`${csrfToken}`)
    div.form-group
      label(for="inputScheduleName" class="col-form-label") 予定の編集
      input(type="text" class="form-control" name="scheduleName" value=`${schedule.scheduleName}`)
    div.form-group
      label(for="inputMemo" class="col-form-label") メモ 
      textarea(name="memo" class="form-control" rows="3") #{schedule.memo}
    div.form-group
      label(for="inputCandidates" class="col-form-label") 候補日程の追加(複数入力してそれぞれを改行してください。)
      ul.list-group
        each candidate in candidates
          li.list-group-item #{candidate.candidateName}
      textarea(name="candidates" class="form-control" rows="5")
    button(type="submit" class="btn btn-primary") 以上の内容で予定を編集する
  br
  form(method="post", action=`/schedules/${schedule.scheduleId}?delete=1`)
    input(type="hidden" name="_csrf" value!=`${csrfToken}`)
    button(type="submit" class="btn btn-outline-danger") この予定を削除する