extends layout

block content
  div.jumbotron
    h1= title
    p #{title} は各種SNSでの認証で、予定を作って出欠が取れる日程調整ツールです。
  if user
    div
      a(class="btn btn-info" href="/schedules/new") 予定を新規作成する
    if schedules !== undefinend
        h3 あなたの作った予定一覧
        if schedules.length == 0
          p 予定はありません
        else
          table(class="table")
            tr
              th 予定名
              th 更新日時
              each schedule in schedules
                tr
                  td
                    a(href=`/schedules/${schedule.scheduleId}`) #{schedule.scheduleName}
                  td #{schedule.updatedAt}