extends layout

block content
  if !user
    div.jumbotron
      h1= title
      p #{title} は各種SNSでの認証で、予定を作って出欠が取れる日程調整ツールです。
        span お問い合わせは
        a(href="https://twitter.com/y_takewell") takewell
        span まで
      p.lead
        a(class="btn btn-primary btn-lg" href="/login" role="button") 登録する
  if user
    br
    div
      a(class="btn btn-primary btn-lg " role="button" href="/schedules/new") 予定を新規作成する
    if schedules !== undefinend
        br
        h3 作成した予定一覧
        br
        if schedules.length == 0
          p 予定はありません
        else
          - var i = schedules.length;
          table(class="table")
            thead.thead-inverse
              tr
                th #
                th 予定名
                th 更新日時
                each schedule in schedules
                  tr
                    td #{i}
                      - i--;
                    td
                      a(href=`/schedules/${schedule.scheduleId}`) #{schedule.scheduleName}
                    td #{schedule.formattedUpdatedAt}